extends base-whitefooter.jade

include ../mixins/header.jade
include ../mixins/footer-docs.jade

block head
  title #{title} | The Definitive Platform for Modern Apps | DC/OS
  meta(property='og:locale', content='en_US')
  meta(property='og:type', content='article')
  meta(property='og:title', content='#{title} | DC/OS')
  meta(property='og:image', content='https://dcos.io/assets/images/social-img.png')
  meta(property='og:description', content='${description}')
  meta(property='og:url', content='https://dcos.io/')
  meta(property='og:site_name', content='DC/OS')
  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='@dcos')
  meta(name='twitter:title', content='#{title}')
  meta(name='twitter:card', content='summary_large_image')
  meta(name='twitter:image', content='https://dcos.io/assets/images/social-img.png')
  meta(name='twitter:description', content='#{description}')

block content
  .container.container--blog-header
    +header

    .container__content
      .blog__category!= category.toUpperCase()
      .blog__divider
      h2!= title

  .container
    .container__content
      .post-meta
        .post-meta__author!= author
        .post-meta__date= moment(date).format("MMM Do, YYYY")
        .post-divider

        article!= contents

  .container
    +footer
