include ../mixins/header-docs.jade
include ../mixins/footer-docs.jade
include ../mixins/head.jade

-
  var findPath = function(childPath) {
    return locals.nav_path.split('/').find(function(item) {
      return item === childPath
    });
  };

  var routeForIndexPath = function (child) {
    return child.children.find(function(n) {
      return n.name === 'index.html'
    }) ? `/docs/${docsVersion}/${child.path}/` : '#'
  }

  var nameForIndexPath = function (child) {
    var result = child.children.find(function(n) { return n.name === 'index.html'});
      if(result) return result.file.nav_title || result.file.post_title;
      return child.name;
    }

  var shouldFolderBeDoc = function (child) {
    return (child.children.length === 1 && child.children.find(n => n.name === 'index.html')) || (child.children.length === 2 && child.children.find(n => n.name === 'index.html') && child.children.find(n => n.name === 'img'))
  }

  var isValidChild = function  (child) {

    if (child.type === 'file' && (child.file.published == false)) {
      return false
    }

    if (child.type === 'dir' && (child.children.every(child => child.type === 'file' && (child.file.published == false)))) {
      return false
    }

    return (((child.type === 'file' && (child.file.nav_tile !== undefined || child.file.post_title !== undefined)) || (child.type === 'dir' && child.name !== 'img')) && child.name !== 'index.html')
  }

  var stripExtname = function (file) {
    if(file.substr(file.length-10, file.length) === 'index.html') return file.substr(0, file.length-10);
    return file.substr(file.length-5, file.length) === '.html' ? file.substr(0, file.length-5) + "/" : file;
  }

  var getDoc = function (child) {
    if(shouldFolderBeDoc(child)) {
      return child.children.find(n => n.name === 'index.html');
    } else {
      return child;
    }
  }

  var capitalize = function (string) {
    return string.charAt(0).toUpperCase() + string.slice(1)
  }

  var docsVersionsReversed = docsVersions.slice().reverse()


mixin icon(child)
  if(child.type === 'dir')
    if(findPath(child.name))
      a.docs-nav__item__arrow(href='#')
        img(src='/assets/images/icons/arrow-down-docs.svg')
    else
      a.docs-nav__item__arrow(href='#')
        img(src='/assets/images/icons/arrow-right-docs.svg')


mixin navItem(child)
  if(child.type === 'file')
    span #{child.file.nav_title || child.file.post_title}
  else
    - var isActive = findPath(child.name) ? 'active' : '';
    a.docs-nav__item__title(href='#{routeForIndexPath(child)}', data-path='#{child.name}' class=isActive) #{nameForIndexPath(child)}


mixin renderMenu(tree)
  ul(class!=attributes.class)
    each child in tree
      if(isValidChild(child))

        // initials
        - var doc = getDoc(child)
        - var liType = doc.file ? 'docs-nav__item_file' : 'docs-nav__item_folder';
        - var isActive = (locals.nav_path === doc.path) ? 'active' : '';
        - var isClosed = (locals.nav_path !== doc.path && doc.type === 'dir' && !findPath(doc.name)) ? 'docs-nav__item--closed' : '';
        li.docs-nav__item(class=liType class=isClosed)
          if(doc.type === 'file')
            a.docs-nav__item__title(href='/docs/#{docsVersion}/#{stripExtname(doc.path)}' class=isActive)
              +icon(doc)
              +navItem(doc)
          else
            +icon(doc)
            +navItem(doc)

          if(child.children)
            +renderMenu(child.children)

- let relatedPages = []
- if (locals.ancestry.self.path.substr(-8) === 'index.md') {
-   locals.ancestry.children && locals.ancestry.children.forEach(child => relatedPages.push({ title: child.title, excerpt: child.excerpt, link: `/docs/#{docsVersion}/#{stripExtname(child.path)}` }))
-   locals.ancestry.siblings && locals.ancestry.siblings.forEach(sibling => relatedPages.push({ title: sibling.title, excerpt: sibling.excerpt, link: `/docs/#{docsVersion}/#{stripExtname(subling.path)}` }))
- }
html
  head
    +head
    link(rel='stylesheet', href='//cdn.jsdelivr.net/docsearch.js/1/docsearch.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/github-gist.min.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/languages/yaml.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/languages/powershell.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/languages/dockerfile.min.js')
    script(src='//cdn.jsdelivr.net/docsearch.js/1/docsearch.min.js')

    block head
      title!= locals.post_title

  body
    block content
      .container.container--docs-header
        +header

      .container.container--mobile-menu
        .docs-menu-mobile
          .open-docs-menu.container__content
            span!= locals.post_title
            div.docs-menu-arrow
          .docs-menu-mobile-container.container__content
            .docs-layout__docs-nav
              +renderMenu(locals.navs.header)

      .container.container--docs-content
        .container__content.docs-layout
          .docs-layout__docs-nav#docs-nav
            .rss-wrapper(style='width: calc(100% - 30px);')
              .docs-search.col.col-10
                input(type='search').docs-search__input
              .rss-button-container.col.col-2
                a(href='/docs/#{docsVersion}/rss.xml').cta.cta--button.rss-button
                  span.rss-icon

            button.dropdown.z-500.relative.mb2.left-align(style='width: calc(100% - 30px);')
                a.btn.mb0.block DC/OS #{(docsVersion === currentDevVersion ? `${docsVersion} Early Access` : docsVersion)}
                ul
                  each version in docsVersionsReversed
                    li: a(href='/docs/#{version}', data-version='#{version}', class=(version === docsVersion ? 'text-heliotrope current option' : 'option')) DC/OS #{(version === currentDevVersion ? `${version} Early Access` : version)}


            +renderMenu(locals.navs.header).docs-menu

            nav.docs-in-this-post

          // Search results
          .docs-layout__docs-content.docs-layout__docs-results(style='display: none;')


          .docs-layout__docs-content.docs-layout__docs-article#docs-article
            .docs-search.docs-search--mobile
              input(type='search').docs-search__input
            h1.docs-heading!= locals.post_title

            .docs-tags
              if locals.feature_maturity == 'preview'
                a.pill(class='pill-pink', href='/docs/#{docsVersion}/overview/feature-maturity/#preview')!= capitalize(locals.feature_maturity)
              if locals.feature_maturity == 'experimental'
                a.pill(class='pill-blue', href='/docs/#{docsVersion}/overview/feature-maturity/#experimental')!= capitalize(locals.feature_maturity)

            article#docs-content!= contents

            if relatedPages.length
              .flex.flex-wrap.flex-auto.mxn2.mt3
                each p in relatedPages
                  .col-12.md-col-6.px2.border-box
                    h3
                      a(href='#{p.link}' title='#{p.title}')
                        != p.title
                    p!= p.excerpt

            .docs-content__footer
              ul.docs-content__footer__actions
                li.docs-content__footer__action
                  a(href='#').addthis_button_expanded
                    img.docs-content__footer__share-icon(src='/assets/images/icons/share.svg')
                    span Share

              ul.docs-content__footer__actions
                li.docs-content__footer__action(style='margin-right: 1.5rem')
                  img(src='/assets/images/icons/icon-edit.svg')
                  a(href=`${githubURL}` id='edit-post-on-github' target='blank') Edit this doc
                li.docs-content__footer__action
                  img.docs-content__footer__feedback-icon(src='/assets/images/icons/feedback.svg')
                  a(href='https://jira.dcos.io/secure/CreateIssueDetails!init.jspa?pid=10101&issuetype=10100&summary=issue+created%20via+link' id='submit-feedback' target='blank') Submit feedback

      .container
        +footer

  script.
    docsearch({
      apiKey: '83f08047a3b6749bf0256c1f16d7a562',
      indexName: 'dcos',
      inputSelector: '.docs-search__input'
    });

    docsearch({
      apiKey: '83f08047a3b6749bf0256c1f16d7a562',
      indexName: 'dcos',
      inputSelector: '.docs-search--mobile .docs-search__input'
    });

  script(src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-570558ee2719a9f0')
